@page "/compare"
@inject WeatherService WeatherService
@inject ComfortServiceCurrent ComfortServiceCurrent

<h3>Compare</h3>

@if (weatherData != null)
{
	foreach (var c in weatherData)
	{
		bool isBest = bestScore == ComfortServiceCurrent.GetScore(c.Current);
		<MudCard Class="border-1 mx-1">
			<MudCardHeader>
				@if (isBest)
				{
					<MudChip T="string" Color="Color.Success" Size="Size.Small" Icon="@Icons.Material.Filled.Star">BEST</MudChip>
				}
				<MudText Typo="Typo.h5">@c.CityName, @c.Region, @c.Country</MudText>
				<MudText Typo="Typo.h6">&emsp; @WeatherCodeHelper.GetDescription(c.Current.WeatherCode)</MudText>
			</MudCardHeader>
			<MudCardContent>
				<MudText Typo="Typo.subtitle1">&ensp; @c.Current.Temp°C</MudText>
				<MudText Typo="Typo.subtitle1">&emsp; @ComfortServiceCurrent.ComputeForCurrent(c.Current)</MudText>
				<MudText Typo="Typo.subtitle2">
					&emsp; @c.Current.Humidity %
					&ensp; @c.Current.WindSpeed m/s
				</MudText>
			</MudCardContent>
		</MudCard>
	}
}

@code {
	[Parameter][SupplyParameterFromQuery(Name = "cities")] public string[]? Cities { get; set; }
	[Parameter][SupplyParameterFromQuery(Name = "countries")] public string[]? Countries { get; set; }
	[Parameter][SupplyParameterFromQuery(Name = "regions")] public string[]? Regions { get; set; }
	[Parameter][SupplyParameterFromQuery(Name = "lats")] public double[]? Latitudes { get; set; }
	[Parameter][SupplyParameterFromQuery(Name = "lons")] public double[]? Longitudes { get; set; }

	List<(string CityName, string Region, string Country, ForecastResultCurrent Current)> weatherData = [];

	private int bestScore = 0;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (Cities?.Length > 0)
			{
				for (int i = 0; i < Cities.Length; i++)
				{
					ForecastResultWrapper? weather = await WeatherService.GetWeatherAsync(
															Latitudes[i],
															Longitudes[i],
															Cities[i],
															Countries[i],
															Regions[i]
														);

					if (weather?.ForecastCurrent != null)
					{
						weatherData.Add((Cities[i], Regions[i], Countries[i], weather.ForecastCurrent));
					}

					int score = ComfortServiceCurrent.GetScore(weather?.ForecastCurrent);
					if (score > bestScore) bestScore = score;
				}
			}
		}
		catch (Exception ex)
		{
				Console.WriteLine($"Error fetching weather data: {ex.Message}");
		}
	}
}
