@page "/weather"
@using System.Globalization
@inject WeatherService WeatherService
@inject ComfortServiceCurrent ComfortServiceCurrent
@inject ComfortServiceForecast ComfortServiceForecast

@if (forecastResults != null)
{
	// Current weather
	<MudPaper Class="border-1 pa-4 mx-10 mb-20">
		<MudStack Spacing="2">
			<MudText Typo="Typo.h6">
					@City, @Region, @Country
			</MudText>
			<MudStack Row="true" Spacing="1" Class="align-items-center mt-2">
				<MudText Typo="Typo.h4">
					@WeatherCodeHelper.GetIcon(forecastResults.ForecastCurrent.WeatherCode)
				</MudText>
				<MudText Typo="Typo.body2" Color="Color.Secondary">
					@WeatherCodeHelper.GetDescription(forecastResults.ForecastCurrent.WeatherCode)
				</MudText>
			</MudStack>
			<MudText Typo="Typo.body2">
				Comfort Level: @ComfortServiceCurrent.ComputeForCurrent(forecastResults.ForecastCurrent)
			</MudText>
		</MudStack>
	</MudPaper>

	// Next 3 days weather
	<div class="d-flex mx-3 gap-4" style="height: 25vh">
		@for (int i = 1; i < 4; i++)
		{
			int index = i;
			<MudPaper Class="border-1 w-100 pa-4" Elevation="1">
				<MudStack Spacing="2">
					<MudText Typo="Typo.h6">@DateLocaleString(forecastResults.ForecastDaily.DateArr[index])</MudText>
					<MudStack Row="true" Spacing="1" Class="align-items-center mt-2">
						<MudText Typo="Typo.h4">
							@WeatherCodeHelper.GetIcon(forecastResults.ForecastDaily.WeatherCode[index])
						</MudText>
						<MudText Typo="Typo.body2" Color="Color.Secondary">
							@WeatherCodeHelper.GetDescription(forecastResults.ForecastDaily.WeatherCode[index])
						</MudText>
					</MudStack>
					<MudText Typo="Typo.body2">
						Comfort Level: @ComfortServiceForecast.ComputeForForecast(forecastResults.ForecastDaily, index)
					</MudText>
					<MudText Typo="Typo.body2">
						<strong>Avg:</strong> @Math.Round((forecastResults.ForecastDaily.TempMaxArr[index] + forecastResults.ForecastDaily.TempMinArr[index]) / 2.0, 2) °C
					</MudText>
					<MudStack Row="true" Spacing="1" Class="mt-2">
						<MudText Typo="Typo.body2">
							<strong>Max:</strong> @forecastResults.ForecastDaily.TempMaxArr[index]°C
						</MudText>
						<MudText Typo="Typo.body2">
							<strong>Min:</strong> @forecastResults.ForecastDaily.TempMinArr[index]°C
						</MudText>
					</MudStack>
				</MudStack>
			</MudPaper>
		}
	</div>
}


@code {
		[Parameter]
		[SupplyParameterFromQuery(Name = "lat")]
		public double Latitude { get; set; }

		[Parameter]
		[SupplyParameterFromQuery(Name = "lon")]
		public double Longitude { get; set; }

		[Parameter]
		[SupplyParameterFromQuery(Name = "city")]
		public string? City { get; set; }

		[Parameter]
		[SupplyParameterFromQuery(Name = "country")]
		public string? Country { get; set; }

		[Parameter]
		[SupplyParameterFromQuery(Name = "region")]
		public string? Region { get; set; }

		ForecastResultWrapper? forecastResults;
		string? errorMessage;

	/// <summary>
		///		Handle for the OnInitializedAsync method, 
		///		which fetches the weather data for the specified coordinates and 
		///		handles any errors that may occur during the fetch.
		/// </summary>
		/// <returns>A wrapper of today's weather and weather for the next 3 days.</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			forecastResults = await WeatherService.GetWeatherAsync(Latitude, Longitude, City, Country, Region);
			Console.WriteLine($"Array length: {forecastResults?.ForecastDaily?.TempMaxArr?.Length}");


			if (forecastResults == null)
			{
				errorMessage = "Weather data not found for the specified location.";
			}
		}
		catch (Exception ex)
		{
			errorMessage = $"Error while fetching weather data: {ex.Message}";
		}
	}

	private string DateLocaleString(string src)
	{
		CultureInfo srcCult = new CultureInfo("en-US");
		CultureInfo dstCult = new CultureInfo("cs-CZ");

		DateTime parsed = DateTime.Parse(src, srcCult);

		return parsed.ToString("d", dstCult);
	}
}